mat-card{
  margin-top: 10%;
  width: 9vw;
}

#widget {
margin-top: 2%;
}

@media screen and (max-width: 380px){
  mat-card{
    margin-top: 5%;
    width: 100%;
  }
  #widget {
    margin-top: 5%;
    margin-right: 6%;
    }
}
