

input {
  height: 4vh;
  width: 18vw;
  padding-right: 5%;
  margin-top: 2%;
  font-size: medium;
}

button.mat-raised-button{
  line-height: 5vh;
  font-size: medium;
}


@media screen and (max-width: 768px){
  input {
    height: 3vh;
    width: 40vw;
    margin-left: 1%;
  }
  button.mat-raised-button{
    line-height: 4vh;

  }

}

